<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httppPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
            processPath="D:\Program Files\Java\jdk1.8.0_25\bin\java.exe"
            arguments="-Djava.net.preferIPv4Stack=true
                     -Djetty.port=%HTTP_PLATFORM_PORT%
                     -Djetty.webapps=&quot;d:\home\site\wwwroot\webapps&quot;
                     -Djetty.base=&quot;d:\home\site\wwwroot\bin\jetty-distribution-9.1.2.v20140210&quot;
                     -jar &quot;d:\home\site\wwwroot\bin\jetty-distribution-9.1.2.v20140210\start.jar&quot;"
            startupTimeLimit="30">
        </httpPlatform>
    </system.webServer>
</configuration>